[class^='app-'],
[class*=' app-'] {
	background-repeat: no-repeat;
	background-position: center;
	background-size: 16px;
	min-width: 16px;
	min-height: 16px;
}

.app-appointments {
	background-image: url('./img/appointments.svg');
}

.app-audioplayer {
	background-image: url('./img/audioplayer.svg');
}

.app-bookmarks {
	background-image: url('./img/bookmarks.svg');
}

.app-calendar {
	background-image: url('./img/calendar.svg');
}

.app-collabora {
	background-image: url('./img/collabora.svg');
}

.app-contacts {
	background-image: url('./img/contacts.svg');
}

.app-deck {
	background-image: url('./img/deck.svg');
}

.app-drawio {
	background-image: url('./img/drawio.svg');
}

.app-files {
	background-image: url('./img/files.svg');
}

.app-fulltextsearch {
	background-image: url('./img/fulltextsearch.svg');
}

.app-gallery {
	background-image: url('./img/gallery.svg');
}

.app-mail {
	background-image: url('./img/mail.svg');
}

.app-mindmaps {
	background-image: url('./img/mindmaps.svg');
}

.app-news {
	background-image: url('./img/news.svg');
}

.app-notes {
	background-image: url('./img/notes.svg');
}

.app-onlyoffice {
	background-image: url('./img/onlyoffice.svg');
}

.app-passman {
	background-image: url('./img/passman.svg');
}

.app-photos {
	background-image: url('./img/photos.svg');
}

.app-spreed {
	background-image: url('./img/spreed.svg');
}

.app-tasks {
	background-image: url('./img/tasks.svg');
}

.app-twofactor_totp {
	background-image: url('./img/twofactor_totp.svg');
}

.app-twofactor_u2f {
	background-image: url('./img/twofactor_u2f.svg');
}
